{% extends 'base.html.twig' %}

{% block title %}Boîte de réception - Les Ecrits de Lyndia{% endblock %}

{% block body %}

{% for message in app.flashes('message') %}
<div class="alert alert-sucess alert-dismissible fade show" role="alert">
{{message}}
<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endfor %}

            <h1 class="titlePost">Boîte de réception</h1>
<section class="bloc">
    <div class="row" style="display:flex;">
        <div class="col-12">
            

            <p class="label"> Vous avez reçu {{ app.user.received|length }} message(s) ! </p>
            
        </div>

            <div class="col-3 blocTitle" style="margin-bottom:3vh;">De</div>
            <div class="col-3 blocTitle">Sujet</div>
            <div class="col-3 blocTitle">Date</div>
            <div class="col-3 blocTitle">Actions</div>


        {% for message in app.user.received %}
            {% if message.isRead == 0 %}
                {% set bold = "fw-bold" %}
            {% else %}
                {% set bold= "" %}    
            {% endif %}    
            <div class="col-3 blocContent {{bold}}" style="color:#262526">{{ message.sender.userPseudo }}</div>
            <div class="col-3 blocContent {{bold}}"><a href="{{ path('app_read', { id:message.id }) }}" style="color:#262526">{{ message.messTitle }}</a></div>
            <div class="col-3 blocContent {{bold}}"><a href="{{ path('app_read', { id:message.id }) }}" style="color:#262526" >{{ message.createdAt|date }}</a></div>
            <div class="col-3 blocContent {{bold}}">
                <a style="color:#262526" href="{{ path('app_delete', {id:message.id}) }}"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6Z"/>
                <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1ZM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118ZM2.5 3h11V2h-11v1Z"/>
                </svg></a>
            </div>
        {% endfor %}

        <div class="col">

        <a href="#offcanvasExample" class="btn" data-bs-toggle="offcanvas" role="button" aria-controls="offcanvasExemple">Menu Messagerie</a>
        <a href="{{ path('app_send') }}" class="btn" style="color:#262526">Envoyer un message</a>
       
        </div>
    </div>
</section>
<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
    <div class="offcanvas-header">
     
        <h2 class="offcanvas-title" id="offcanvasExampleLabel">Mes dossiers</h2>
    
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    
    </div>
    
    <div class="offcanvas-body">
        <div class="listgroup">
            <a href="{{ path('app_private_mess') }}"class="list-group-item list-group-item-action">Accueil</a>
        </div>
        <div class="listgroup">
            <a href="{{ path('app_received') }}"class="list-group-item list-group-item-action active">Boite de récéption</a>
        </div>
        <div class="listgroup">
            <a href="{{ path('app_sent') }}"class="list-group-item list-group-item-action">Message(s) envoyé(s)</a>
        </div>
         {% if is_granted("ROLE_ADMIN") %}
                
                <div class="listgroup">
                    <a href="{{ path('app_admin') }}" class="list-group-item list-group-item-action">Administration</a>
                </div>
        {% endif %}
        <div class="listgroup">
            <a href="{{ path('app_logout') }}"class="list-group-item list-group-item-action ">Se deconnecter</a>
        </div>

    </div>
  </div>
{% endblock %}
