{% extends 'base.html.twig' %}

{% block title %}Toutes les Demandes - Administration{% endblock %}

{% block body %}
    <h1 class="titlePost">Toutes les Demandes - Administration</h1>
    <div class="btnHomeContainer">
        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
            <a href="#offcanvasExample" class="home"data-bs-toggle="offcanvas" role="button" aria-controls="offcanvasExemple"> <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
            </svg> Menu</a>
        {% else %}
            <a href="{{ path('app_home') }}" class="home"> Page d'accueil <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-house-fill" viewBox="0 0 16 16">
            <path d="M8.707 1.5a1 1 0 0 0-1.414 0L.646 8.146a.5.5 0 0 0 .708.708L8 2.207l6.646 6.647a.5.5 0 0 0 .708-.708L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.707 1.5Z"/>
            <path d="m8 3.293 6 6V13.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5V9.293l6-6Z"/>
            </svg></a>
        {% endif %}
    </div>
    <div class="bloc">
        <div class="row" style="display:flex;">
            <div class="col-12">
                <p class="label"> Il y a {{ contacts|length }} demande(s) ! </p>
            </div>
            <div class="col-3 blocTitle">Prémon: </div>
            <div class="col-3 blocTitle d-none d-lg-block">   Email : </div>
            <div class="col-3 blocTitle">Demande:  </div>
            <div class="col-3 blocTitle">Action : </div>
            
        
        {% for contact in contacts %}

        <div style="display:flex;">
                    <div class="col-3 blocContent">{{ contact.contName }}</div>
                    <div class="col-3 blocContent d-none d-lg-block">{{ contact.contEmail }}</div>
                    <div class="col-3 blocContent">{{ contact.contContent }}</div>
                    <div class="col-3">
                        <a href="{{ path('app_admin_contact_show', {'id': contact.id}) }}" style="color:#262526;"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye-fill" viewBox="0 0 16 16">
                        <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0z"/>
                        <path d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8zm8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7z"/>
                        </svg></a>
                        <a href="{{ path('app_admin_contact_delete', {'id': contact.id}) }}" style="color:#262526;"> <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                        <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6Z"/>
                        <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1ZM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118ZM2.5 3h11V2h-11v1Z"/>
                        </svg></a>
                    </div>
                </div>

        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </div>
    </div>

    <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
        <div class="offcanvas-header">
     
            <h2 class="offcanvas-title" id="offcanvasExampleLabel">{{ app.user.userPseudo }}</h2>
    
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    
        </div>
    
        <div class="offcanvas-body">
            <div class="listgroup">
                <a href="{{ path('app_home') }}"class="list-group-item list-group-item-action">Accueil</a>
            </div>
            <div class="listgroup">
                <a href="{{ path('app_user_show') }}"class="list-group-item list-group-item-action">Mon profil</a>
            </div>
            <div class="listgroup">
                <a href="{{ path('app_private_mess') }}"class="list-group-item list-group-item-action ">Boîte de réception</a>
            </div>
            <div class="listgroup">
                <a href="{{ path('app_library_show',  {'id':library.id}) }}"class="list-group-item list-group-item-action ">Ma bibliothèque</a>
            </div>
            {% if is_granted("ROLE_ADMIN") %}
                
                <div class="listgroup">
                    <a href="{{ path('app_admin') }}" class="list-group-item list-group-item-action">Administration</a>
                </div>
            {% endif %}
            <div class="listgroup">
                <a href="{{ path('app_logout') }}"class="list-group-item list-group-item-action ">Se deconnecter</a>
            </div>

        </div>
    </div>
{% endblock %}
